---
import { GITHUB_USER, GITHUB_LINK, LINKEDIN_USER, LINKEDIN_LINK, EMAIL_USER, EMAIL_LINK } from "../../../config/pedro"

import { Github, Linkedin, Mail } from "@lucide/astro"
import Section from "../../layout/Section.astro"
import FormSubmit from "../../ui/FormSubmit.astro"
import Paragraph from "../../ui/Paragraph.astro"
---

<Section id="contact" title="CONTACT" variant="base">
  <div class="contact-layout">
    <div class="social-media-wrapper">
        <a href={GITHUB_LINK} class="social-media-link" target="_blank">
            <Github class="icon icon-md icon-contrast" />
            <Paragraph text={GITHUB_USER} fontSize="md" variant="contrast" bold />
        </a>
        <a href={LINKEDIN_LINK} class="social-media-link" target="_blank">
            <Linkedin class="icon icon-md icon-contrast" />
            <Paragraph text={LINKEDIN_USER} fontSize="md" variant="contrast" bold />
        </a>
        <a href={EMAIL_LINK} class="social-media-link" target="_blank">
            <Mail class="icon icon-md icon-contrast" />
            <Paragraph text={EMAIL_USER} fontSize="md" variant="contrast" bold />
        </a>
    </div>
    <FormSubmit />
  </div>
</Section>

<style>
  .contact-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-lg);
  }
  .social-media-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-md);
    flex-wrap: wrap;
  }
  .social-media-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-md);

    background-color: var(--color-base-light);
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--radius-lg);
  }
    @media (min-width: 1024px) {
    .social-media-link {
        width: auto;
    }
  }
</style>
