---
import type { Variant } from "../../design-system/variant";

interface Props {
  href?: string;
  label: string;
  outline?: boolean;
  variant?: Variant;
  blank?: boolean;
  submit?: boolean;
  heroFullWidth?: boolean;
}

const {
  href,
  label,
  outline = false,
  variant = "primary",
  blank = false,
  submit = false,
  heroFullWidth = false,
} = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class={`button ${variant} ${outline ? "outline" : null} ${heroFullWidth ? "hero-full-width" : "null"}`}
      target={blank ? "_blank" : "_self"}
    >
      {label}
    </a>
  ) : (
    <button
      class={`button ${variant} ${outline ? "outline" : null} ${heroFullWidth ? "hero-full-width" : "null"}`}
      type={submit ? "submit" : "button"}
    >
      {label}
    </button>
  )
}

<style>
  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--space-md) var(--space-lg);
    border: solid var(--border-md);
    border-radius: var(--radius-md);

    font-family: var(--font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-lg);

    cursor: pointer;
  }
  .button.primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-base);
  }
  .button.base {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-contrast);
  }
  .button.contrast {
    background-color: var(--color-contrast);
    border-color: var(--color-contrast);
    color: var(--color-base);
  }
  .button.featured {
    background-color: var(--color-featured-contrast);
    border-color: var(--color-featured-contrast);
    color: var(--color-featured-base);
  }
  .button.outline {
    background-color: transparent;
  }
  .button.outline.base {
    color: var(--color-base);
  }
  .button.outline.contrast {
    color: var(--color-contrast);
  }
  .button.outline.primary {
    color: var(--color-primary);
  }
  .button.outline.featured {
    color: var(--color-featured-base);
  }
  .button.hero-full-width {
    width: 100%;
  }

  @media (min-width: 768px) {
    .button {
      padding: var(--space-sm) var(--space-md);
    }
    .button.hero-full-width {
      width: auto;
      flex: 1;
    }
  }
</style>
