---
import { EMAIL_USER } from "../../config/pedro";
import { WEBSITE_URL } from "../../config/website";
import Button from "./Button.astro";

const urlNext = `${WEBSITE_URL}/message`;
const messageUser = "👋 Hi, I’m Pedro Guedes. Thank you for reaching out through my website. I’ll reply as soon as possible.";
const messageWebsite = "📬 New message from your website.";
---

<form
  class="contact-form"
  action={`https://formsubmit.co/${EMAIL_USER}`}
  method="POST"
>
  <!-- User -->
  <input type="hidden" name="_next" value={urlNext} />
  <input type="hidden" name="_autoresponse" value={messageUser} />

  <!-- Website -->
  <input type="hidden" name="_subject" value={messageWebsite} />
  <input type="hidden" name="_template" value="table" />
  <input type="hidden" name="_replyto" value="email" />

  <input
    type="text"
    id="name"
    name="name"
    class="form-input"
    placeholder="name"
    required
  />

  <input
    type="email"
    id="email"
    name="email"
    class="form-input"
    placeholder="email@example.com"
    required
  />

  <textarea
    id="message"
    name="message"
    class="form-textarea"
    placeholder="message"
    required></textarea>

  <Button submit label="Send Message" variant="primary" />
</form>

<style>
  .contact-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
  }

  .form-input,
  .form-textarea {
    width: 100%;

    background: var(--color-base);
    padding: var(--space-md);
    border: solid var(--border-lg) var(--color-base-light);
    border-radius: var(--radius-md);

    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-md);
    color: var(--color-contrast);
  }

  .form-textarea {
    resize: vertical;
    min-height: 120px;
  }

  .form-input::placeholder,
  .form-textarea::placeholder {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-md);
    color: var(--color-neutral);
  }

  .form-input:focus,
  .form-textarea:focus {
    outline: none;
    border-color: var(--color-primary);
  }
</style>
